/**
* @file
* Add derivatives of style-dictionary variables .
*/

/* Variable aliases */
$hilight: $color-hilight;
$dark: $swatch-black;
$light: $swatch-white;
$grey: $swatch-grey;
$adjust: 25%;

/* Variable extensions */
$dark-light: lighten($dark, $adjust);
$dark-dark: darken($dark, $adjust);

$light-light: lighten($light, $adjust);
$light-dark: darken($light, $adjust);

$grey-light: lighten($grey, $adjust);
$grey-dark: darken($grey, $adjust);

$hilight-light: lighten($hilight, $adjust);
$hilight-dark: darken($hilight, $adjust);

$shadow: transparentize($grey-dark, 0.6);
/* Header region */
$header-height: calc($logo-height + ($logo-padding * 2) + ($logo-margin * 2));
