/**
  * @file
  * Printed page styling
*/

@import "variables";

$h-size: 60pt;

@media print {
  @page :first {
    #header {
      display: block;
      visibility: visible;
    }
  }

  a,
  a:visited {
    text-decoration: underline;
    color: $hilight;
  }
  
  img,
  picture,
  p {
    page-break-inside: avoid;
  }

  p,
  h1,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;

    a {
      word-wrap: break-word;
    }
  }
  h1 {font-size: $h-size;}
  h2 {font-size: calc($h-size * 0.5);}
  h3 {font-size: calc($h-size * 0.3);}

  pre,
  code,
  blockquote {
    border: 1px solid $light;
    page-break-inside: avoid;
  }

  pre,
  code a::after {
    content: none;
  }

  #header,
  #footer,
  .hidden {
    display: none;
    visibility: hidden;
  }

  #content a,
  .printlink {

      &:after {
        content: " (" attr(href) ")";
        font-size: $size-small;
      }
    }
}
